body {
    text-align: center;
    width: 100%;
    font-style: normal;
    background-size: cover;
}

.option {
    font-style:normal;

    

}

.navbar {
    height: 4rem;
    width: 100%;
    background-color: hsl(157, 95%, 59%);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }


  